<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Advotek - Managed IT Services</title>
        <meta name="keywords" content="Advotek, Managed IT Services, Computer Consulting, Server Technology Installation" />
        <meta name="description" content="Advotek is a managed IT services computer consulting company servicing Chicago medium businesses and Chicago Public Schools" />
        <meta name="author" content="tosca ragnini" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="~/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />

      <!-- Styles.Render("~/Content/css")
        Scripts.Render("~/bundles/modernizr")-->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Arimo:300,400,700,400italic,700italic' />
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css' />
        <link href='~/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/hover-dropdown-menu.css" rel="stylesheet" />
        <link href="~/css/animate.min.css" rel="stylesheet" />
        <link href="~/css/owl/owl.carousel.css" rel="stylesheet" />
        <link href="~/css/owl/owl.theme.css" rel="stylesheet" />
        <link href="~/css/owl/owl.transitions.css" rel="stylesheet" />
        <link href="~/css/prettyPhoto.css" rel="stylesheet" />
        <link href="~/css/fancySelect.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet" />
        <link href="~/css/responsive.css" rel="stylesheet" />
        <link href="~/css/color.css" rel="stylesheet" />
    </head>
<body>
    <div id="top-bar" class="top-bar-section top-bar-bg-color">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <!-- Top Contact -->
                    <div class="top-contact-right link-hover-color">
                        <a href="tel:6309647762" class="lr-pad-20">
                            <i class="fa fa-phone"></i>630.964.7762
                        </a>
                        <a href="mailto:zack@advotek.biz" class="lr-pad-20">
                            <i class="fa fa-envelope"></i>zack@advotek.biz
                        </a>
                        <a href="HPsuppliesFinder" class="lr-pad-20">HP Supplies</a>
                        <a href="HPprinterFinder" class="lr-pad-20">HP Printer Finder</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <header id="sticker" class="sticky-navigation" style="max-height:100px;">
        <div class="sticky-menu relative">
            <div class="navbar navbar-default navbar-bg-light" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="index.html">
                                    <img class="site_logo" alt="Advotek Logo" src="../img/advotekLogo03.png" />
                                </a>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="mega-menu">
                                        <a href="index#home">Home</a>
                                    </li>
                                    <li>
                                        <a href="index#about">Our Story</a>
                                    </li>
                                    <li>
                                        <a href="index#services">Managed IT Services</a>
                                    </li>
                                    <!--<li">
                <a data-toggle="collapse"href="#clients">Case Studies</a>
        </li>-->
                                    <li>
                                        <a href="HPproducts">HP Solutions</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="page-links">
                                                            <div class="text-color">
                                                                <a href="HPproducts">HP Products</a>
                                                            </div>
                                                           
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

<li>
                                        <a href="index#contact">Contact</a>
                                    </li>
                                    <li>
                                        <img src="img/hp-supplies-medallion.gif" width="170" height="66" alt="HP Qualified Supplies Partner" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
            <div class="clearfix"></div>
        <div id="page">
            @RenderSection("slider", required: false)
           
            @RenderBody()
        <footer>
            <div class="content-wrapper lr-margin-20">
                <div class="float-right">
                    <p>&copy; @DateTime.Now.Year - Advotek Inc.</p>
                </div>
            </div>
        </footer>
    </div>
        <script type="text/javascript" src="~/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/hover-dropdown-menu.js"></script>
        <script type="text/javascript" src="~/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="~/js/jquery.sticky.js"></script>
        <script type="text/javascript" src="~/js/bootstrapValidator.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.appear.js"></script>
        <script type="text/javascript" src="~/js/effect.js"></script>
        <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="~/js/jquery.parallax-1.1.3.js"></script>
        <script type="text/javascript" src="~/js/fancySelect.js"></script>
        <script type="text/javascript" src="~/js/custom.js"></script>

        <!--Scripts.Render("~/bundles/jquery")-->
        @RenderSection("scripts", required: false)
</body>
</html>
